{% extends 'base.html.twig' %}

{% block title %}
    Musiciens |
    {{ parent() }} 
{% endblock %}

{% block body %}
<section class="text-center container">
		<div class="row">
			<div class="col-lg-6 col-md-8 mx-auto mb-4">
				<h1 class="fw-light">
					Musiciens enregistrés
				</h1>
			</div>
		</div>
	</section>

<div class="container">
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="col-2">#</td>
					<td class="col-5">Nom</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="col-2">{{user.id}}</td>
						<td class="col-5">{{user.pseudo}}</td>
                        <td>
							{% if user.status == 1 %}
							<a href="{{ path('admin_user_status_change', {id:user.id}) }}">
								<button type="button" class="btn btn-primary col-2">Actif</button>
							</a>
							{% else %}
							<a href="{{ path('admin_user_status_change', {id:user.id}) }}">
								<button type="button" class="btn btn-danger col-2">Inactif</button>
							</a>
							{% endif %}
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
