{% extends 'admin/layout.html.twig' %}

{% block title %}
    Instrument de musique |
    {{ parent() }} 
{% endblock %}

{% block body %}
    <section class="text-center container">
		<div class="row">
			<div class="col-lg-6 col-md-8 mx-auto mb-4">
				<h1 class="fw-light">
					Instrument de musique
					<small class="fs-5">
						<a href="{{ path('admin_instrument_add') }}" class="btn btn-success">Ajouter</a>
					</small>
				</h1>
			</div>
		</div>
	</section>

	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<td>#</td>
					<td>Nom</td>
					<td>Icone</td>
					<td></td>
					<td></td>
                    <td></td>
				</tr>
			</thead>
			<tbody>
				{% for instrument in instruments %}
					<tr>
						<td>{{instrument.id}}</td>
						<td>{{instrument.name}}</td>
                        <td>
							<img src="{{ asset('uploads/images/' ~ instrument.icon) }}">
						</td>
						<td>
							<a href="{{ path('admin_instrument_show', {id:instrument.id}) }}" class="btn btn-outline-success">Voir</a>
						</td>
						<td>
							<a href="{{ path('admin_instrument_edit', {id:instrument.id}) }}" class="btn btn-outline-success">Editer</a>
						</td>
						<td>
							<a href="{{ path('admin_instrument_delete', {id:instrument.id, token:csrf_token('delete-item')}) }}" class="btn btn-outline-danger">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
