{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
<div class="container">
    {% if user %}
        <div class="mb-3">
            You are logged in as {{ user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1>Channel {{ channel.name }}</h1>
    <div class="container" style="height: 600px">
        <div class="container bg-light h-75 overflow-auto">
            {% for message in messages %}
                {% if user == message.user %}
                    <div class="row w-75 float-right">
                        <b>{{ message.user.pseudo }}</b>
                        <p class="alert alert-info w-100">
                            {{ message.content }}
                        </p>
                    </div>
                {% else %}
                    <div class="row w-75 float-left">
                        <b>{{ message.user.pseudo }}</b>
                        <p class="alert alert-success w-100">
                            {{ message.content }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <form id="form" class="container row"> 
                <input id="message" class="input-group-text col-sm-9" placeholder="Message" type="text" />
                <button id="submit" type="submit" class="btn btn-success col-sm-3">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<!-- After preventing the browser from refreshing the page, we use the fetch API and the POST method to send the message to the server and bypass the native Symfony forms. So our behavior is a bit more like a client communicating with its API -->

    <script>
        let chatDiv = document.querySelector('.overflow-auto');
        chatDiv.scrollTop = chatDiv.scrollHeight; // we want to scroll always to the last message 

        let form = document.getElementById('form');
        function handleForm(event) {
            event.preventDefault(); // prevents the page from refreshin after the form is submitted
        }
        form.addEventListener('submit', handleForm);

        // In the Hub URL, 'mercure' is used as the docker-compose service name. We replace it by the actual localhost url for the browser.
        const link = '{{ app.request.attributes.get('_links').getLinksbyRel('mercure')[0].getHref }}'
            .replace("mercure", "localhost:3000");
        const url = new URL(link);

        url.searchParams.append('topic', 'http://astrochat.com/channel/{{ channel.id }}'); // adding the topic to the parameters of the request to the Hub

        const eventSource = new EventSource(url, {withCredentials: true}); // We added the "withCredentials". Thus the request will be accompanied by the JWT present in the cookie!

        const appUser = {{ user.id }};

        eventSource.onmessage = ({data}) => { // listen to the event published by the Hub
            const message = JSON.parse(data); // the content is in JSON, need to parsed it
                document.querySelector('.bg-light').insertAdjacentHTML( // injection of the new message in the HTML
                'beforeend',
                    appUser === message.author.id ?
                    `<div class="row w-75 float-right">
                    <b>${message.author.username}</b>
                    <p class="alert alert-info w-100">${message.content}</p>
                </div>` :
                    `<div class="row w-75 float-left">
                    <b>${message.author.username}</b>
                    <p class="alert alert-success w-100">${message.content}</p>
                </div>`
            )
            chatDiv.scrollTop = chatDiv.scrollHeight; // ask to the browser to scroll the chat at the bottom to see the last message 
        }

        const submit = document.querySelector('button');
        submit.onclick = e => { // changing the behavior of the submit
            const message = document.getElementById('message'); // Recovering the message in the correct input
            const data = { // the data variable will be sent to the controller
                'content': message.value, // transmit the message
                'channel': {{ channel.id }} // and the right channel
            }
            console.log(data); // check the information
            fetch('/message', { // sending with a post the data on the endpoint/message of the application
                method: 'POST',
                body: JSON.stringify(data) // transmit the data in JSON
            }).then((response) => {
                message.value = '';
                console.log(response);
            });
        }
    </script>
{% endblock %}